@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4d2222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Rubik Microbe';
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 2.75rem;
}

.TodoWrapper {
  background: black;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  -webkit-box-shadow:0px 0px 105px 45px rgba(45,255,196,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
box-shadow: 0px 0px 105px 45px rgba(45,255,196,0.9);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #ff0099;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  font-family: 'Astloch';
  background: #ff0099;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffc3f7;
  color: #2c3224;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}